*,*::before,*::after{
  box-sizing:border-box ;
}

body{
  margin: 0;
  background: linear-gradient(to right, #F0E800, #6100F3);
}

.calculator-grid{
  display:grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  justify-content: center;
  /* row is height of our boxes, and how many rows we want / size*/
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem); 
}

.span-two{
  /* now this button spans 2 columns */
  grid-column: span 2;
}

.result{
  /* takes up entire top row (our output) */
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  /* align numbers vertically, and to the right */
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-grid > button{
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline:none; 
  background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
  background-color: rgba(255,255,255,1);
}

.result .previous-operand{
  color: rgba(255,255,255, .75);
  font-size: 1.5rem;
}

.result .current-operand{
  color: white;
  font-size: 2.5rem;
}

/* since digits was made with helper, make new div to align it */


